# series

In [2]:
import pandas as pd

# from a list
data=[10,20,30,40]
series=pd.Series(data)
print(series)

# from a dictionary
data_dict={'a':10,'b':20,'c':30}
series_dict=pd.Series(data_dict)
print(series_dict)

0    10
1    20
2    30
3    40
dtype: int64
a    10
b    20
c    30
dtype: int64

# dataframe

In [5]:
#  from a dictionary of lists
data={'Name':['Alice','Bob','Charlie'],
      'Age':[25,30,35]
      }
df=pd.DataFrame(data)
print(df)

# from a list of lists
data_list=[['Alice',25],
           ['Bob',30],
           ['charlie',35]]
df2=pd.DataFrame(data_list,columns=['Name','Age'])
print(df2)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
      Name  Age
0    Alice   25
1      Bob   30
2  charlie   35

# from numpy arrays

In [6]:
import numpy as np

array=np.array([[1,2,3],[4,5,6],[7,8,9]])
df=pd.DataFrame(array,columns=['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

# map()

In [ ]:
import pandas as pd

data={'product':['A','B','C','A','B'],
      'sales':[100,150,200,250,300]}

df=pd.DataFrame(data)

procuct_map={'A':'Alpha','B':'Beta','C':'Gamma'}
df['product']=df['product'].map(procuct_map)
df

  product  sales
0   Alpha    100
1    Beta    150
2   Gamma    200
3   Alpha    250
4    Beta    300

# apply map()

In [5]:
import pandas as pd

data={'product':['A','B','C','A','B'],
      'sales':[100,150,200,250,300]}

df=pd.DataFrame(data)

df=df.applymap(lambda x: f'value:{x}')
df

C:\Users\hibam\AppData\Local\Temp\ipykernel_23848\1877963126.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df=df.applymap(lambda x: f'value:{x}')

   product      sales
0  value:A  value:100
1  value:B  value:150
2  value:C  value:200
3  value:A  value:250
4  value:B  value:300

# transform()

In [7]:
import pandas as pd

data={'product':['A','C','B','A','B'],
      'sales':[100,150,200,250,300]}

df=pd.DataFrame(data)

# normalizing sales column
df['normalized_sales']=df['sales'].transform(lambda x:(x-x.min())/(x.max()-x.min()))
df

  product  sales  normalized_sales
0       A    100              0.00
1       C    150              0.25
2       B    200              0.50
3       A    250              0.75
4       B    300              1.00

# apply()

In [8]:
import pandas as pd

data={'product':['A','C','B','A','B'],
      'sales':[100,150,200,250,300]}

df=pd.DataFrame(data)

# applying a discount fuction to sales column
def discount(x):
    return x*0.9 # 10% discount

df['discounted_sales']=df['sales'].apply(discount)
df

  product  sales  discounted_sales
0       A    100              90.0
1       C    150             135.0
2       B    200             180.0
3       A    250             225.0
4       B    300             270.0