# pivot table

In [2]:
import pandas as pd

# sample data
data={
    'date':['2024-01-01','2024-01-02','2024-01-01','2024-01-02', '2024-01-03'],
    'category':['A','A', 'B', 'B', 'D'],
    'sales':[100,150,200,250,300]
}

# create dataframe
df=pd.DataFrame(data)

# convert 'date' column to datetime
df['date']=pd.to_datetime(df['date'])

# create a pivot table
pivot_table=df.pivot_table(values='sales',index='date',columns='category',aggfunc='sum',fill_value=0)

# display the pivot table
print(pivot_table)

category      A    B    D
date
2024-01-01  100  200    0
2024-01-02  150  250    0
2024-01-03    0    0  300

# pivot()

In [5]:
import pandas as pd

data={
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
}

df=pd.DataFrame(data)

pivot_df=df.pivot(index='Date',columns='Product',values='Sales')
pivot_df

Product       A    B
Date
2023-01-01  100  150
2023-01-02  200  250

# melt()

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 90, 95],
    'Science': [88, 92, 94]
}

df = pd.DataFrame(data)



melted_df=pd.melt(df,id_vars='Name',var_name='Subject',value_name='Score')
melted_df

      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     90
2  Charlie     Math     95
3    Alice  Science     88
4      Bob  Science     92
5  Charlie  Science     94