Steps to Follow:

1. Dataset: Use a dataset from:

    seaborn (e.g., tips, diamonds, or titanic)
    OR download a CSV from [Kaggle Datasets](https://www.kaggle.com/datasets) or [UCI ML Repository](https://archive.ics.uci.edu/)

2. Load and Explore:

    Use pandas and matplotlib or seaborn
    Check for:

      Missing values
      Data types
      Basic stats

3. Visual EDA:

    Create 2 meaningful visualizations (e.g., distribution, correlation heatmap, boxplot by category)

4. Feature Engineering:

    Create 2 new features (Examples):

      From date/time (e.g., extract weekday from datetime)
      Binned version of continuous variable (e.g., bin ages into categories)
      Combination feature (e.g., total\_bill per person in tips dataset)

5. Save Your Output:

    Export the modified DataFrame to a new .csv file (optional but good practice)

In [4]:
import seaborn as sns
import pandas as pd
import numpy as np

df=sns.load_dataset("Titanic")
Titanic=pd.DataFrame(df)
print(Titanic.isnull().sum())
print(Titanic.describe())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

1. Generate Synthetic Data (NumPy)
	•	Create an array of 10 student names.
	•	Generate random marks for 3 subjects (Math, Science, English) using np.random.randint().

2. Create a DataFrame (Pandas)
	•	Convert the data into a DataFrame.
	•	Add a Total and Average column.
	•	Sort the DataFrame by Total in descending order.

3. Compute Basic Stats
	•	Display the student with the highest average.
	•	Count how many students scored above 75 in Math.

4. Visualization (Matplotlib)
	•	Create a bar chart showing total marks for each student.
	•	Create a histogram of Science scores.

In [18]:
import pandas as pd
import numpy as np
x=['abay','salu','shahin','arun','mejo','rahul','sandeep','rohan','unish','ron']
print(np.array(x))
maths=np.random.randint(10,100,size=10)
science=np.random.randint(10,100,size=10)
english=np.random.randint(10,100,size=10)
Total=np.add(maths,science,english)
data={
    'Names':np.array(x),
    'maths':maths,
    'english':english,
    'science':science,
    'Total':Total,
    'average':np.average(Total)
}

df=pd.DataFrame(data)
print(df)
print(df[maths]>75)

['abay' 'salu' 'shahin' 'arun' 'mejo' 'rahul' 'sandeep' 'rohan' 'unish'
 'ron']
     Names  maths  english  science  Total  average
0     abay     15       79       64     79     96.7
1     salu     15       73       58     73     96.7
2   shahin     29      116       87    116     96.7
3     arun     83      129       46    129     96.7
4     mejo     31       72       41     72     96.7
5    rahul     61       93       32     93     96.7
6  sandeep     42      100       58    100     96.7
7    rohan     24       56       32     56     96.7
8    unish     61      139       78    139     96.7
9      ron     95      110       15    110     96.7

KeyError: "None of [Index([15, 15, 29, 83, 31, 61, 42, 24, 61, 95], dtype='int32')] are in the [columns]"